<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="./tools/bootstrap-5.3.5-dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="./tools/bootstrap-5.3.5-dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
	
	<div class="container">
		<form class="mt-2 mx-auto w-50 mb-4" th:action="@{/create}" method="post" th:object="${reserva}">
			<div class="mb-3 text-center">
				<label for="txtReserva" class="form-label h3  text-primary">Nueva reserva</label>
			</div>
			<div class="mb-3">
		        <label for="txtId" class="form-label">Id</label>
		        <textarea type="text" class="form-control" id="txtId" name="id" th:field="*{id}" rows="1"></textarea>
		    </div>
			<div class="mb-3">
		        <label for="txtCliente_Id" class="form-label">Cliente Id</label>
		        <textarea type="text" class="form-control" id="txtCliente_Id" name="cliente_id" th:field="*{cliente_id}" rows="1"></textarea>
			</div>
			<div class="mb-3">
		        <label for="txtPaquete_Id" class="form-label">Paquete Id</label>
		        <textarea type="text" class="form-control" id="txtPaquete_Id" name="paquete_id" th:field="*{paquete_id}" rows="1"></textarea>
		    </div>
			<div class="mb-3">
		        <label for="txtFecha_Reserva" class="form-label">Fecha reserva</label>
		        <textarea type="text" class="form-control" id="txtFecha_Reserva" name="fecha_reserva" th:field="*{fecha_reserva}" rows="1"></textarea>
		    </div>
			<div class="mb-3">
		        <label for="txtEstado" class="form-label">Estado</label>
		        <textarea type="text" class="form-control" id="txtEstado" name="estado" th:field="*{estado}" rows="1"></textarea>
		    </div>
			<div class="d-grip gap-2 d-md-flex justify-content-md-end">
				<button type="submit" class="btn btn-outline-success border border-2 border-success">
					<img src="/tools/images/guardar.png" width="20px" height="20px">
				</button>
				<a href="/" class="btn btn-outline-warning border border-2 border-warning">
					<img src="/tools/images/atras.png" width="20px" height="20px">
				</a>
			</div>
			
		</form>
	</div>

	
<script src="./tools/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js" ></script>	
</body>
</html>